</div> 
<!-- end container -->
<footer class="footer">
  <div class="container">
    <p><strong>Ni.Pl.Ex</strong> Nike+ Exporter - <a href="http://francois.souin.fr">Fran&ccedil;ois Souin</a></p>
  </div>
</footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>