<p>Ni.Pl.Ex (for Nike+ Exporter) is a simple tool to export your Nike+ tracks in GPX format, which is accepted by a lot of other training apps & websites.</p>
<p>This tool is very useful due to the lack of export functions in Nike+ applications.</p>
<p>Before using it, please read & accept the remarks below :
<ul>
  <li>This tool uses beta API provided by Nike, which can change or disappear at each time.</li>
  <li>It's provided as is, so may not works for some specific case.</li>
  <li>We only ask for your Nike+ username & password to retrieve the activities. These credentials are never stored by us, and HTTPS is used to transmit informations.</li>
  <li>We only get informations from Nike+ and never update or delete informations.</li>
</ul>
</p>
<p>For transparency, and if you want to host this tool, the whole project is available freely on GitHub and under MIT License.</p>